* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
:root {
    --color_base: #cff000
}

body {
    height: 100vh;
}
.arriba {
     background-color: var(--color_base);
     width: 100%; 
     height: 25%;
}
.medio{
    background-color: rgb(247, 136, 0);
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly; /* space around/evenly/between*/

    .descripcion {
        background-color: aqua;
        height: 65%; /* el porcentaje de altura responde al padre*/
        aspect-ratio: 1/1;
    }
    .articulo{
        /*background-color: black;*/
        height: 65%;
        aspect-ratio: 2/1;

        h4{
            background-color: brown;
            text-align: center;
            font-size: 1.5em; /* Es un tamaño relativo al navegador*/
            height: auto;
        }
        p{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            height: calc(100% - 2.5em); /*para hacer calculos   */
        }
    }
}
.abajo{
    background-color: var(--color_base);
    width: 100%;
    height: 25%;
}
